<app-slider [nombre]="'Péliculas'" [size]= "'small'"></app-slider>

<div class="center">
  <section id="content">
    <h1 class="subheader">Peliculas</h1>

    <h2>Pelicula:</h2>
    {{ peliculas[0].title }}
    <hr />

    <h2>Listado de películas</h2>
    <div id="articles" *ngIf="peliculas">
      <div  *ngFor="let pelicula of peliculas; let i; index">
        <app-pelicula>
          [pelicula]="pelicula"
        </app-pelicula>
      </div>
    </div>
  </section>
  <app-sidebar></app-sidebar>
</div>
